.ld-custom-name {
  color: black;
}

.ld-custom-name:visited {
  color: black;
}

.ld-custom-button-container {
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
  -webkit-transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
  background-color: #28536c;
  color: #fff;
}

.ld-custom-button-container:has(::after) {
  margin-bottom: 50px;
}

.ld-custom-button-container:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.ld-custom-button {
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

.ld-custom-background-layer {
  background-color: #fff;
}

.ld-profile-image {
  object-fit: cover;
}

.revision {
  opacity: 0;
}

/* HowToRefer */
#root-container > div > div > div > div.ld-mt-32 > div:nth-child(6)::after {
  content: "A website providing a simple directory for hospitals to unify their fragmented referral pathways.";
  color: #334155;
  line-height: 1.4;
  display: block;
  padding: 15px 15px 15px 15px;
  margin-bottom: 30px;
  margin-top: -10px;
  background-color: #f1f5f9;
  border-radius: 5px 5px 13px 13px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* Oriel */
#root-container > div > div > div > div.ld-mt-32 > div:nth-child(7)::after {
  content: "A chrome extension to let final year medical students automatically rank their first year job preferences. Used and highly praised by over 300 students in the 2023 application cycle.";
  color: #334155;
  line-height: 1.4;
  display: block;
  padding: 15px 15px 15px 15px;
  margin-bottom: 30px;
  margin-top: -10px;
  background-color: #f1f5f9;
  border-radius: 5px 5px 13px 13px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* WIP */
#root-container > div > div > div > div.ld-mt-32 > div:nth-child(8)::after {
  content: "A platform for companies to provide public-facing pages for their projects.";
  color: #334155;
  line-height: 1.4;
  display: block;
  padding: 15px 15px 15px 15px;
  margin-bottom: 30px;
  margin-top: -10px;
  background-color: #f1f5f9;
  border-radius: 5px 5px 13px 13px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* MyNeighbours */
#root-container > div > div > div > div.ld-mt-32 > div:nth-child(9)::after {
  content: "A website that allows hyper-local sharing of information within a community, kind of like a digital notice board for a building.";
  color: #334155;
  line-height: 1.4;
  display: block;
  padding: 15px 15px 15px 15px;
  margin-bottom: 30px;
  margin-top: -10px;
  background-color: #f1f5f9;
  border-radius: 5px 5px 13px 13px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* FlashNotez */
#root-container > div > div > div > div.ld-mt-32 > div:nth-child(10)::after {
  content: "A tool that allows users to create cloze flashcards with ease (in progress).";
  color: #334155;
  line-height: 1.4;
  display: block;
  padding: 15px 15px 15px 15px;
  margin-bottom: 30px;
  margin-top: -10px;
  background-color: #f1f5f9;
  border-radius: 5px 5px 13px 13px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* StudentQ */
#root-container > div > div > div > div.ld-mt-32 > div:nth-child(11)::after {
  content: "My first ever project, a website providing grouped forums on subjects for students to ask questions and get answers from experts.";
  color: #334155;
  line-height: 1.4;
  display: block;
  padding: 15px 15px 15px 15px;
  margin-bottom: 30px;
  margin-top: -10px;
  background-color: #f1f5f9;
  border-radius: 5px 5px 13px 13px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
